/* tags */

body, html {
  height: 100%;

}

/* parents*/

nav {
  height: 6%;
}
.container-fluid {
  height: 100%;
}
.row {
  height: 94%;
}


/* children*/

.column-back {

  height: 100%;
  box-sizing: border-box;
  background-color: #ffa41b;

}

.column-menu {

  height: 100%;
  background-color: #005082;
  text-align: center;

}

.column-content {
  height: 100%;
  background-color: #000839;
  overflow-y:scroll;
  
  
}
.link-back {
  height: 100%;
  width: 100%;
  background-color: #ffa41b;

}



.icon-back {
  width: 100%;
  color:  #000839;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 10%;
  right: 25%;
  display: block;


} 

.filtrarPor {
 
 
  margin-top: 15%;

}

.input-group-prepend, .custom-select {
  margin-top: 10px;
  margin-bottom: 10px;
}

#search {
  margin-top: 10%;
}

/* butoes - adicionar e remover filtro */
.badge {
  margin: 8px;
}

.table {
  position: absolute;
  width: 90% ;
  color: white;
  text-align: center;
  left: 5%;
  bottom: 5%;
  margin-top: 0%;
  margin-bottom: 5%;

  top: 10%;
}


tr:nth-child(even) {
  background-color: #005082;
}

thead tr {
  background-color: #00a8cc;

}
 

.invalid-feedback {

  display: block;
  color: orange;
}








/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:#000839;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 50%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 20px;
}

.button {
  padding: 0;
  border: none;
  background: none;
}
.fas {
  color: white;
}
.far {
  color: white;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#table-modal02 {
  position: relative;
}
#table-modal {
  position: relative;
}

a {
  color:inherit;
  text-decoration: none;
 }


 #change-estado, #select-funcionario, #select-financeira  {
   height: 2.2rem;
   margin-top: 1px;
   margin-bottom: 1px;

 }
 
 #content-propdetail {
  overflow-y:scroll;
  
   
 }


 #divButtonAddRecord {
text-align: center;
padding: 1%;
 }
  
 



 /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.modal-open {
  overflow-y: hidden;
}


#logoHorizontal {
  height: 3rem;
}

#navBarOverrideColor {
   background-color: white !important ;
}
.nav-link {
   font-size:1rem;

}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

#addPropButton {
  position: absolute;
  bottom: 15px;
  width: 90%;
 
}



.overlay {
  background-color:#EFEFEF;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
  opacity: .5; /* in FireFox */ 
  filter: alpha(opacity=50); /* in IE */
}